:root {
	--text-primary: #222;
	--text-secondary: #444;

	--background-primary: #fff;
	--background-secondary: #f8f8f8;
	--background-tertiary: #ddd;

	--accent-light: #29a;

	--accent-dark: #178;
	--on-accent-dark: #eee;

	--color-error: #d33;
	--on-color-error: #fff;

	--color-info: #38d;
	--on-color-info: #fff;

	--link: var(--accent-dark);
	--link-visited: var(--text-secondary);

	--space-xs: .4rem;
	--space-s: .7rem;
	--space-m: 1rem;
	--space-l: 1.2rem;

	--border-thickness: .1rem;

	color: var(--text-primary);
	background: var(--background-primary);
	font-family: sans-serif;
	tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-primary: #eee;
		--text-secondary: #ccc;

		--background-primary: #222;
		--background-secondary: #2b2b2b;
		--background-tertiary: #444;

		--accent-light: #6cc;
		--link: var(--accent-light);
	}
}

a {
	color: var(--link);
}
a:visited {
	color: var(--link-visited);
}

input, textarea, select {
	background: var(--background-secondary);
	border: var(--border-thickness) solid var(--text-secondary);
	border-radius: calc(var(--border-thickness) * 2);
	color: var(--text-primary);
}

textarea {
	padding: 0.3rem 0.2rem;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

html, body, p, h1, h2, h3, h4, h5, h6, pre, ol, ul {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style-position: inside;
}

footer {
	background: var(--background-secondary);
	padding: var(--space-m);
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

nav {
	background: var(--accent-dark);
	color: var(--on-accent-dark);
	padding: var(--space-s);
	display: flex;
	flex-wrap: wrap;
	gap: var(--space-s);
}

@media (max-width: 30rem) {
	nav {
		gap: var(--space-xs);
	}
}

nav *, :root nav a {
	color: var(--on-accent-dark);
}

main {
	padding: var(--space-s);
	flex: 1;
	width: 100%;
}

main, details .details {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--space-s);
}

details .details {
	gap: var(--space-xs);
	padding: var(--space-xs);
}

.spacer {
	flex: 1;
}

.banner {
	padding: var(--space-s);
}

.banner-error {
	background: var(--color-error);
	color: var(--on-color-error);
}

.banner-info {
	background: var(--color-info);
	color: var(--on-color-info);
}

form {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: var(--space-s);
}

form label {
	display: flex;
	flex-direction: column;
}

.preserve-space {
	white-space: pre-wrap;
}

hr {
	width: 100%;
	border: 1px solid var(--background-tertiary);
}

code {
	border-radius: calc( var(--border-thickness) * 2);
	padding: 0.2rem;
	vertical-align: middle;
	background: var(--background-secondary);
}

pre {
	font-size: 0.8rem;
	padding: var(--space-s);
	border: var(--border-thickness) solid var(--text-secondary);
	border-radius: var(--space-xs);
	background: var(--background-secondary);
}

pre code {
	padding: unset;
	vertical-align: unset;
	background: unset;
	border-radius: unset;
}

th, td {
	padding: var(--space-xs);
	border: var(--border-thickness) solid var(--text-secondary);
}

table {
	border-collapse: collapse;
}

.row {
	display: flex;
	flex-direction: row;
	gap: var(--space-xs);
	align-items: center;
}

.sample-io {
	display: grid;
	grid-template-rows: auto auto;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	width: 100%;
	gap: var(--space-s);
}

@media (max-width: 30rem) {
	.if-not-narrow {
		display: none;
	}
}

@media (min-width: 30rem) {
	.if-narrow {
		display: none;
	}
}

.query-block {
	max-width: 100%;
	overflow-x: scroll;
}
